body {
    margin: 3em auto;
    width: 70%;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    list-style: none;
    font-weight: bold;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    list-style: none;
    font-weight: bold;
    padding-left: 15em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 2.5em;
}
a {
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #850;
}
nav a {
    font-size: 1.7em;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2.5em;
    display: inline-block;
}
.date {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    color: #333;
}
.menu-div {
    border-top: 0.1em solid #850;
    margin-top: 0em;
    margin-bottom: 3em;
}
footer {
    border-top: 0.1em solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 1em auto 2em; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}