---
layout: compress
---
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}

<body data-theme="{{ site.mode }}">
  {% include navbar.html %}
  <div class="wrapper">
    <!-- {% include blog.html %} -->
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
